/* ESTILO GERAL */

*{ /* *{} é o seletor universal... aplica em todos os elementos */
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(17, 17, 17);
    height: 100vh; /* 100vh para tomar todo o espaço da nossa tela */
}

.interface{
    max-width: 1280px; /* altura máxima */
    margin: auto; /* ficar centralizada na tela */ 
}

.flex{
    display: flex;
}

.Dg-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #09ff00;
    border: 0;
    border-radius: 30px;
    cursor: pointer; /* muda o ponteiro para o "dedinho" quando passa por cima */
    transition: .3s;
}

/* ESTILO DO CABEÇALHO */

header{
    padding: 40px 4%; /* esse 4% é para ele não ficar muito grudado nas laterais */ 
}

header > .interface{ /* chama o header e chama a class que está diretamente dentro da classe header - para não interferir nos outros elementos */
    display: flex;
    align-items: center; /* align-items:  controla o alinhamento de todos os itens no eixo transversa */
    justify-content: space-between; /*  justify-content alinha os elementos no eixo principal */
}

header a{
    color: #929292;/* mudando a cor dos elementos dentro do <a> que no caso é font do cabeçalho */
    text-decoration: none;
    display: inline-block; /* coloquei o display: inline-block para ele aceitar o transform */
    transition: .5s; /* a velocidade de mudança de cor do hover/transform */ 
}

header a:hover{
    color: #09ff00;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none; /* isso serve para retirar o ponto na frente da lista */
}

header nav ul li{
    display: inline-block; /* deixa a lista uma do lado da outra */
    padding: 0 40px; /* 0 encima e embaixo e 40px na esquerda e direita */
}

.Dg-contato button:hover{
    box-shadow: 0px 0px 8px #09ff00;
    transform: scale(1.05);
}

/* ESTILO DO TOPO DO SITE */

section.topo-do-site{
    padding: 40px 4%; /* encima e embaixo 40px e nas laterais 4% - assim eles não ficam colocados quando a tela for reduzida*/ 
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px; /* isso deixou os textos mais juntos */
}

.topo-do-site .txt-topo-site h1 span{
    color: #09ff00;
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0; /* feito para dar uma afastada no parágrafo */
}

.topo-do-site .img-topo-site img{
    position: relative; /* colocamos isso pq esse "top" "left" etc.. só funcionam se o elemento estiver em uma posição diferente do static q é o padrao */
    animation: flutuar 2s ease-in-out infinite alternate;
}

/* 
ease-in-out = faz ir suave, ficar rapida no meio e depois continuar suave
infinite = para ficar em loop
alternate = isso faz q a animation não resete e volte ao inicio.. ela vai e volta para o mesmo camio
*/

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}